In [104]:


import pandas as pd

In [105]:
import numpy as np
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [106]:
df=pd.read_csv("C:/Users/SAGARIKA/Documents/loanpredict.csv")

In [107]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [108]:
df.LoanAmount.median()

128.0

In [109]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [110]:
df.Married.mode()
df.Married=df.Married.fillna('Yes')

In [111]:
df.Dependents.mode()
df.Dependents=df.Dependents.fillna('0')

In [112]:
df.Self_Employed.mode()
df.Self_Employed=df.Self_Employed.fillna('No')

In [113]:
df.LoanAmount=df.LoanAmount.fillna(df.LoanAmount.median())

In [114]:
df.Gender.mode()
df.Gender=df.Gender.fillna('Male')

In [115]:
df.Loan_Amount_Term.mode()
df.Loan_Amount_Term=df.Loan_Amount_Term.fillna('360')

In [116]:
df.Credit_History.mode()
df.Credit_History=df.Credit_History.fillna('1.0')

In [117]:
doc=['Gender','Married','Dependents','Education','Self_Employed','Credit_History','Property_Area']
for var in doc: le = LabelEncoder()
df[var] = le.fit_transform(df[var].astype('str'))
df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term      object
Credit_History        object
Property_Area          int32
Loan_Status           object
dtype: object

In [137]:
x = df.drop(columns=['Loan_ID','Loan_Status'],axis=1) 
y=df['Loan_Status']

In [138]:
x=pd.get_dummies(x)
x_train=pd.get_dummies(x_train) 
x_test=pd.get_dummies(x_test)

In [139]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0,test_size=0.2)

In [140]:
x.isnull().sum()

ApplicantIncome           0
CoapplicantIncome         0
LoanAmount                0
Property_Area             0
Gender_Female             0
Gender_Male               0
Married_No                0
Married_Yes               0
Dependents_0              0
Dependents_1              0
Dependents_2              0
Dependents_3+             0
Education_Graduate        0
Education_Not Graduate    0
Self_Employed_No          0
Self_Employed_Yes         0
Loan_Amount_Term_12.0     0
Loan_Amount_Term_36.0     0
Loan_Amount_Term_60.0     0
Loan_Amount_Term_84.0     0
Loan_Amount_Term_120.0    0
Loan_Amount_Term_180.0    0
Loan_Amount_Term_240.0    0
Loan_Amount_Term_300.0    0
Loan_Amount_Term_360.0    0
Loan_Amount_Term_480.0    0
Loan_Amount_Term_360      0
Credit_History_0.0        0
Credit_History_1.0        0
Credit_History_1.0        0
dtype: int64

In [141]:

  model=LogisticRegression()

In [142]:
model.fit(x_train,y_train)

C:\Users\SAGARIKA\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [143]:
model.score(x_test,y_test)

0.8455284552845529